<!DOCTYPE html>
<html>
<head>
    <title>History</title>
</head>
<body>
    <h1>History</h1>
    <table>
        <tr>
            <th>Action</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for action in actions %}
            <tr>
                <td>{{ action[0] }}</td>
                <td>{{ action[1] }}</td>
                <td>${{ action[2] }}</td>
                <td>{{ action[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>